<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}タイトル{% endblock %}</title> 
        <link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename='css/reset.css')}}">
        <link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        {% block header %}ヘッダー{% endblock %}
        {% block content %}内容{% endblock %}
    </body>
    <footer>
        <!-- javaScript -->
        <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
        <script src="{{url_for('static',filename='javaScript/script.js')}}"></script>
    </footer>
</html>