{% extends "base.html" %}
{% block title %}告白成功率チェッカー{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<div class = "loading">
    <div>
        <h1 class = "loading-word">Loading・・・</h1>
        <h1>{{ result }}</h1>
    </div>       
    <div class = "anya-image">
        <img src = "{{url_for('static', filename='images/anya.avif')}}" >
    </div>
    <div class = "to-result-button-wrapper">
        <button class = "send-button to-result-button">
            <a href = "{{ url_for('result')}}">結果を見る</a>
        </button>
    </div>
</div>
{% endblock %}