{% extends "base.html" %}
{% block title %}テキストファイル選択{% endblock %}
{% block header %}{% endblock %}
{% block content %}
    <form method = "POST" enctype="multipart/form-data">
        <div class = "text-form-wrapper">
            <div class = "anya-image text-form">
                <img src = "{{url_for('static', filename='images/girl-center.jpg')}}">
            </div>
            <div class = "text-form-content">
                <div class="fukidasi">
                    <p>LINEのテキストファイルを選択して、LINE上でのあなたの名前と<br>相手の名前を入力してください</p>
                </div>
                <div class = "form-content-file"></div>
                    {{ form.csrf_token }}
                    <div class = "line-file-wrapper">                    
                        <input type="file" class = "line-file" name="file" accept=".txt">                   
                    </div>
                    <div class ="name-input-content">
                        <p class = "name-input-before">名前：</p>
                        <div>
                            {{ form.your_name(class_="name-input") }}
                        </div>
                    </div>
                    <div class = "name-input-content">
                        <p class="name-input-before">相手の名前：</p>
                        <div>
                            {{ form.partner_name(class_="name-input") }}
                        </div>
                    </div>
                    <div class = "submit-button-wrapper">
                        {{ form.submit(class_="send-button") }}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}